/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
*{
    margin: 0;  
    padding: 0;
   
}
body{
     background-color: hsl(0, 0%, 98%);
     display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh; 
}

nav{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20.2px 30px;
    /* background-color: #69616128; */
    height: 30px;
    /* color: rgb(26, 17, 17); */
}
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* background-color: aqua; */
    width: 50%;

}
.nav-left img{
    margin-left: -10px;

}
.nav-left ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* background-color: rgb(240, 0, 208); */
    width: 50%;
    margin-right: 150px;
    margin-bottom: 10px;

}
.nav-left ul li{
    
    display: flex;
    text-decoration: none;
    /* background-color: rgb(84, 167, 2); */

}
.nav-left ul li a{
    display: flex;
    text-decoration: none;
    font-size: 15px;
    font-family:"Epilogue", sans-serif;
    color: hsl(0, 0%, 8%);
    padding: 5px 20px;
    
}
/*dropdown */
.dropdown {
    float: left;
    /* overflow: hidden; */
    /* border: 1px solid red; */
    
    
  }
  .dropdown .dropbtn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-family:"Epilogue", sans-serif;
    font-size:15px;
    
    
    border: none;
    outline: none;
    color: rgb(15, 14, 14);
    padding: 14px 10px;
    background-color: inherit;
    
    
  }
  .dropbtn img{
    vertical-align: middle;
    margin-left: 8px;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(167, 167, 167);
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 35.1px;
    font-family:"Epilogue", sans-serif;
    font-size: 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ffffff;
  }
  
  .show {
    display: block;
  }
  .dropdown-content img{
    vertical-align: middle;
    margin-right: 8px;
  }
  
  
  
  /* .dropdown:hover .dropdown-content {
    display: block;
  } */




.nav-right{
    /* background-color: blue; */
    display: flex;
    
    padding: 10px 30px;
    margin-right: -29px;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
}
.nav-right a{
    /* background-color: rgb(206, 134, 0); */
    color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    padding: 7px 15px;
    
    text-decoration: none;
    font-family:"Epilogue", sans-serif;
    font-size:15px ;
    cursor: pointer;
     
}
#register{
    border: 1px solid black;
    border-radius: 10px;
}
.article{
    /* background-color: burlywood; */
    margin-top: 20px;
    display: flex;
    height: auto;
}
.left{
    flex: 1; /* Take up 50% of the container width */
  /* background-color: #15fab5; */
  padding: 20px 70px;
}
.right{
    flex: 0.9; /* Take up 50% of the container width */
    /* background-color: #e208d7; Optional: Background color for visual separation */
  }
  .left h1{
    font-family:"Epilogue", sans-serif;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 65px;
    margin-left: 16%;
  }
  .left p{
    font-family:"Epilogue", sans-serif;
    display: block;
    margin-top: 15px;
    margin-left: 15%;
    width: 390px;
    padding: 0px 35px;
    font-weight: 400;
    font-size: 17px;
    color: hsl(0, 0%, 41%);
    margin-right: 190px;
    /* background-color: rgba(0, 0, 255, 0.301); */
  }
  .left button{
    font-family:"Epilogue", sans-serif;
    display: block;
    margin-top: 35px;
    padding: 12px 30px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 20%;
    background-color: hsl(0, 3%, 6%);
    border: none;
    border-radius: 10.1px;
    /* cursor: pointer; */
  }
  .left button:hover{
    font: black;
    background-color: hsl(0, 14%, 99%);
    border: 2px solid black;
    border-radius: 10.1px;
    cursor: pointer;
  }
  .left a{
    color: hsl(0, 0%, 88%);
    text-decoration: none;
  }
  .left .brands{
    margin: 50px 0px;
    margin-left: 16%;
  }

  .right img{
    width: 70%;
    height: 79%;
  }
  .brands{
    /* border: 2px solid rgb(0, 0, 0); */
    max-width:450px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

